[submodule "/"]
	path = /
	url = https://github.com/MasanaKhanyi/masanakhanyi.github.io.git
[submodule "masanakhanyi.github.io"]
	path = masanakhanyi.github.io
	url = https://github.com/MasanaKhanyi/masanakhanyi.github.io.git
